 /*Configuracion inicial de la página*/

 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body
{
  background-color:#FFE5CC;
  background-image: url('../assets/imgs/bg-salar.jpg');
  background-position:center top; /*Posicionamos el fondo en el centro*/
  background-repeat:no-repeat;/*Indicamos que no se repita el fondo*/
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

 /*Clases que le dan estilo al header*/
header {
  background-color: rgba(0,0,0,0.1);
  color: white;
  overflow: auto;
  padding: 5px;
  position: relative;
  width: 100%;
 }

 .tables {
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  margin: 5px;
  padding: 8px;
}

.tabs-letter {
  display: inline;
}

.search-box {
  border-radius: 5px;
  padding: 8px;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
}

.trello-title {
  display: inline-block;
  font-style: oblique;
  font-weight:bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);/*centramos de acuerdo al tamaño del contenedor padre*/
}

.icons-list {
  display: inline-block;
  margin-top: 3px;
}

.icons-list span {
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}

.icons-list .user {
  border-radius: 5px;
  background-color: lightsalmon;
  display: inline-block;
  font-size: 18px;
  padding:8px;
}


 /*Clases que ocultarán y mostrarán los elementos de acuerdo al archivo js*/
.not-see {
  display:none;
}
.see{
  display:block;
}

/*Clases que le dan estilo al main*/

#to-do{
  background: #e2e4e6;
  border-radius:5px;
  float: left;
  margin:10px;
  padding:10px;
  width:250px;
}

/*Clases para las listas */
.add-list{
  background-color: rgba(0,0,0,0.1);
  cursor:pointer;
  padding:5px;
}

.add-list:hover{
  background-color: rgba(0,0,0,0.3);
}

.list-title{
  font-weight:bold;
  margin:6px;
  padding: 5px;
  
}

#list-title:empty:not(:focus):before {
  color:gray;
  content:attr(placeholder);
}

/*Clase para el botón */

.send{
  background-color:#5aac44;
  border-radius: 5px;
  color:#e2e4e6;
  cursor: pointer;
  font-weight:bold;
  padding: 5px 15px;
  
}

/*Clases para las tareas */

#task-box{
  background: white;
  border-radius:5px;
  font-weight:bold;
  margin:5px 0px;
  padding: 5px;
}


#task-box:empty:not(:focus):before {
  color:gray;
  content:attr(placeholder);
}

.task{
  background:white;
  border-radius:5px;
  font-weight:italic;
  margin-top:5px;
  padding: 5px; 
}


.add-task{
  background:#e2e4e6;
  border:none;
  border-radius: 4px;
  color:#838c91;
  cursor: pointer;
  padding: 5px;
}

.add-task:hover{
  background:#c0c0c0;
  color:black;
  text-decoration: underline;
}

