
 /*Configuracion inicial de la página*/

 * {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
/* margin:0;
 padding: 0;*/
}

body
{
 background-color:#FFE5CC;
 background-image: url('../assets/imgs/bg-salar.jpg');
 background-position:center top; /*Posicionamos el fondo en el centro*/
 background-repeat:no-repeat;/*Indicamos que no se repita el fondo*/

font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.not-see {
  display:none;
}
.see{
  display:block;
}

#to-do{
  background: #e2e4e6;
  border-radius:5px;
  width:250px;
  float: left;
  margin:10px;
  padding:10px;
}

.add-list{
  
  background-color: rgba(0,0,0,0.1);
  cursor:pointer;
  padding:5px;
}

.add-list:hover{
  
  background-color: rgba(0,0,0,0.3);
  
}


  
.list-title{
  
  margin:6px;
  font-weight:bold;
  padding: 5px;
  
}

#list-title:empty:not(:focus):before {
  content:attr(placeholder);
  color:gray
}




.send{
  background-color:#5aac44;
  border-radius: 5px;
  color:#e2e4e6;
  cursor: pointer;
  font-weight:bold;
  padding: 5px 15px;
  
}



/* No colocar propiedades de display*/


#task-box{
  
  background: white;
  border-radius:5px;
  
  margin:5px 0px;
  font-weight:bold;
  padding: 5px;
}


#task-box:empty:not(:focus):before {
  content:attr(placeholder);
  color:gray
}

.task{
  margin-top:5px;
  
  
  background:white;
  font-weight:italic;
  
  border-radius:5px;
  padding: 5px; 
}






/* No colocar propiedades de display*/


/* No colocar propiedades de display*/

/* No colocar propiedades de display*/
.add-task{
  border:none;
  color:#838c91;
  background:#e2e4e6;
 
 
 padding: 5px;
  
  
  
  cursor: pointer;

  border-radius: 4px;
  
}


/*para cambiar a blanco y letras verdes al hacer click*/
.add-task:hover{
  background:#c0c0c0;
  color:black;
  text-decoration: underline;
}

